.header__menu {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 95px 50px 100px;

    max-height: 293px;
}

.header__logo {
    display: block;
    width: 148px;
    height: 115px;
}     

.header__logo-image {
    width: 100%;
    height: auto;
}

.header__links-list {
    list-style: circle;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.header__links-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    color: #000000;
}
 
.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
}

.header__address {
    align-items: flex-start;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 757px;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
}

.aligned-text {
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    letter-spacing: 30px;
    display: grid;
    gap: 20px;
    padding: 165px 50px 106px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right__no-letter-spacing {
    text-align: right;
    margin-right: -30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    padding: 0 50px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    word-spacing: 0.8em;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 12px;
    color: #FFFFFF;
}   

.bet-button {
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
    padding: 11px 31px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.lots__heading {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    margin: 180px 0 27px 40px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 0 24px;
    max-width: 1052px;
}

.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
}   

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
}

.card {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;

}

.card__title {
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;

    color: #FFFFFF;
    position: absolute;
    z-index: 2;

    top: 40px;
    right: 40px;
    left: 40px;
}

.card__text {
    font-size: 20px;
    line-height: 120%;

    color: #FFFFFF;
    position: absolute;
    z-index: 2;

    bottom: 40px;
    right: 40px;
    left: 40px;
}

.lots__look-more-link {
    font-size: 20px;
    cursor: pointer;
    margin: 30px auto 0 40px;
}

.about {
    margin: 120px 24px;
    display: grid;
    grid-template-columns: 334px auto;
    gap: 72px;
}

.about__logo {
    margin: 35px 0 0 47px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #000000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    margin: 136px 0 100px;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer {
    margin-top: 180px;
    padding: 0 50px;
    height: 180px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.footer address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-self: start;
    max-width: 240px;
}

.socials {
    justify-self: end;
}

.footer__menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;
}

.footer__social-list-item {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: auto;
}
