.header__menu {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px;
}

.header__logo {
  display: block;
  width: 157px;
  height: 115px;
  padding: 14px 11px;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__links-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  gap: 33px;
  padding-top: 18px;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: #000000;
}

.link-active {
  text-decoration: none;
}

.header__address {
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 240px;
  gap: 3px;
  padding-top: 15px;
}

.header__address-item {
  align-items: flex-start;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  min-height: 757px;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
}

.aligned-text {
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
  display: grid;
  gap: 20px;
  padding: 165px 50px 106px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  padding: 0 50px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 0.85em;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 12px;
  color: #ffffff;
}

.bet-button {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  padding: 11px 31px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.lots__heading {
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  margin: 181px 0 28px 65px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0 24px 33px;
  width: 1052px;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 48px 40px;
  z-index: 0;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.lots__look-more-link {
  font-size: 20px;
  cursor: pointer;
  margin: 0 40px 0 65px;
}

.about {
  width: 100%;
  padding: 120px 24px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 72px;
}

.about__logo {
  margin: 32px 0 0 47px;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 133px -47px 100px;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: -46px;
  padding-bottom: 10px;
}

.footer {
  margin-top: 52px;
  padding: 0 45px 0 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.footer__address {
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-self: start;
  width: 240px;
  gap: 3px;
}

.footer__menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.footer__menu-list {
  font-size: 18px;
  list-style: none;
}

.socials {
  justify-self: end;
}

.footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-right: 5px;
}

.footer__social-list-item {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: auto;
}
